<html>
  
  <head>
    <title>Afficher les potins</title>
  </head>

  <body>
    <h1>Page des potins</h1>
    <h3>Potin n°<%=gossip_id%></h3>
    <p>
      Son auteur : <%=gossip.author%><br>
      Son contenu : <%=gossip.content%><br>
    </p>
     <a href="/">Page d'acceuil</a>
  </body>

</html>